<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Coding论坛注册</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="coding,java社区">
    <meta name="description" content="Coding论坛是以java开发为中心的社区论坛，致力于为web开发提供强劲动力">
    <link rel="stylesheet" th:href="@{/css/layui/css/layui.css}" />
    <link rel="stylesheet" th:href="@{/css/layui/global.css}" />
</head>
<body>
<div data-th-include="common/header"></div>

<div class="layui-container fly-marginTop">
    <div class="fly-panel fly-panel-user" pad20>
        <div class="layui-tab layui-tab-brief" lay-filter="user">
            <ul class="layui-tab-title">
                <li><a th:href="@{/user/login}">登录</a></li>
                <li><a th:href="@{/sms/login}">短信登录</a></li>
                <li class="layui-this">注册</li>
            </ul>
            <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
                <div class="layui-tab-item layui-show">
                    <div class="layui-form layui-form-pane" id="registerForm">
                        <form method="post" action="#" onsubmit="return false">
                            <div class="layui-form-item">
                                <label for="loginName" class="layui-form-label">账号</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="loginName" name="loginName" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-form-mid layui-word-aux">将会成为您唯一的登入名</div>
                            </div>
                            <div class="layui-form-item">
                                <label for="userName" class="layui-form-label">昵称</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="userName" name="userName" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label for="L_pass" class="layui-form-label">密码</label>
                                <div class="layui-input-inline">
                                    <input type="password" id="L_pass" name="password" required lay-verify="required" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-form-mid layui-word-aux">6到16个字符</div>
                            </div>
                            <div class="layui-form-item">
                                <label for="L_repass" class="layui-form-label">确认密码</label>
                                <div class="layui-input-inline">
                                    <input type="password" id="L_repass" name="repass" required lay-verify="required" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <button class="layui-btn" lay-filter="*" onclick="formRegister()">立即注册</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div data-th-include="common/footer"></div>
<script>
    function formRegister() {
        var $form = $("#registerForm").find("form");
        console.log($form.serialize());
        $.ajax({
            type: "post",
            url: "/user/register",
            data: $form.serialize(),
            dataType: "json",
            success: function (r) {
                if (r.code === 0) {
                    layer.msg("注册成功");
                    $form[0].reset();
                    location.href = '/user/login';
                } else {
                    layer.msg(r.msg);
                }
            }
        });
    }
</script>

</body>
</html>